.tip {
    margin-bottom: 40px;

    .tip-header {
        display: flex;
        border-bottom: 1px solid #e5e5e5;
        align-items: center;

        h1 {
            margin-bottom: 0;
            margin-right: 10px;
        }
    }

    .title {
        font-size: 20px;
        line-height: 36px;
    }
}