#app {
    margin-top: 50px;
    display: flex;
    overflow: hidden;
}

.top-header {
    height: 50px;
    background-color: #1d75de;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("~images/header-bg.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-color: #f5f5f5;
    width: 200px;
}

.page-view {
    flex: 1;
    display: flex;
}