#header {
    position: relative;
    z-index: 10;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    margin-bottom: 20px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.section {
    height: 0;
    flex: 1;
    display: flex;

    .content {
        height: 100%;
        flex: 1;
        padding: 20px 72px 20px 64px;
        overflow: auto;
    }

    @media (max-width: 576px) {
        .content {
            padding: 0 20px;
            overflow: initial;
        }
    }
}

.footer {
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-weight: 600;
    height: 40px;
    line-height: 40px;

    .record-no,
    .police-no {
        margin: 0 12px;
        color: #bbb;

        &:hover {
            color: #333;
        }
    }

    .police-no {
        background-image: url("~images/gongan.png");
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: 18px 18px;
        padding-left: 24px;
    }
}