.patient-table-data {
    flex: 1;

    .patient-table-data-filter {
        .ant-form-item-label {
            width: 72px;
        }

        .ant-form-item {
            display: flex;
            margin-bottom: 0;
        }

        .ant-form-item-control-wrapper {
            flex: 1;
        }

        .filter-button {
            text-align: right;

            button {
                min-width: 88px;
            }

            button+button {
                margin-left: 10px;
            }
        }
    }

    // .patient-table {
    //     tr.selected td {
    //         background-color: #e6f7ff;
    //     }
    // }
}

.patient-form-modal {
    position: absolute;
    top: 50px;
    left: 200px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    opacity: 0;
    display: flex;
    flex-direction: column;

    &.active {
        opacity: 1;
    }

    .close-btn {
        position: absolute;
        right: 5px;
        top: 5px;
        color: #333;
        font-size: 18px;
    }

    .patient-form {
        display: flex;
        height: 0;
        flex: 1;
    }

    .sub-title {
        display: block;
        padding: 20px 25px;
        font-size: 16px;
        font-weight: 600;
        color: #999;
    }

    .base-info,
    .history {
        flex: 1;
        overflow: auto;
        padding: 0 10px;
    }

    .base-info {
        border-right: 1px solid #e5e5e5;

        .form-row {
            .form-col {
                flex: 1;
            }
        }

    }

    .form-row {
        display: flex;

        .form-col {
            width: 200px;

            &.flex-1 {
                flex: 1;
            }
        }
    }


    .ant-form-item-label {
        width: 100px;
    }

    .sub-form-item {
        display: flex;

        .ant-form-item-label {
            width: 60px;
        }

        .control-btn {
            height: 40px;
            line-height: 40px;
            margin-left: 10px;
        }

    }

    .ant-form-item {
        display: flex;
    }

    .ant-form-item-control-wrapper {
        flex: 1;
    }
}

.patient-detail {
    width: 401px;
    border-left: 1px solid #e5e5e5;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        margin-bottom: 10px;

        h4 {
            font-size: 16px;
            margin-bottom: 0;
        }

        .close-btn {
            font-size: 16px;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
        }
    }

    .base-info,
    .history,
    .normal-check,
    .special-check {
        padding: 0 10px;

        .base-info-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 12px;
            font-size: 16px;

            label {
                width: 100px;
                text-align: right;
                margin-right: 8px;
                font-weight: 600;
                color: #111;
            }

            span {
                flex: 1;
            }
        }

        .base-info-subitem {
            font-size: 14px;

            label {
                font-weight: 600;
                color: #111;
                margin: 0 6px 0 12px;

                &:first-child {
                    margin-left: 35px;
                }
            }
        }

        hr {
            height: 1px;
            border: none;
            background-color: #eaeaea;
            margin: 20px 0;
        }
    }

    .base-info {
        .base-info-item {
            margin-bottom: 25px;
        }
    }

    .tab-page {
        overflow: auto;
    }

    .history,
    .normal-check,
    .special-check {

        .check-type {
            display: block;
            margin-bottom: 12px;

            span {
                display: inline-block;
                font-size: 16px;
                color: #fff;
                background-color: #0093d2;
                padding: 4px 8px;
                border-radius: 2px;
            }
        }


        .icon {
            display: flex;
            justify-content: center;

            .left {
                width: 90px;
                height: 22px;
                background-image: url("~images/eyes.png");
                background-repeat: no-repeat;
                background-position: -90px 0;
            }

            .right {
                width: 90px;
                height: 22px;
                background-image: url("~images/eyes.png");
                background-repeat: no-repeat;
                background-position: 0 0;
                margin-left: 120px;
            }
        }

        .normal-check-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px 0;

            .left,
            .right {
                display: flex;
                align-items: center;
            }

            span {
                display: block;
                min-width: 22px;
            }

            label {
                display: block;
                margin: 0 10px;
                width: 120px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                background-color: #f1f1f1;
                border-radius: 14px;
            }

            &.main-eye {
                span {
                    padding: 0 10px;
                    border-radius: 10px;
                    width: auto;
                }

                .active {
                    color: #fff;
                    background-color: #f54d51;
                }
            }
        }
    }
}

.inputs {
    display: flex;
    align-items: center;

    span {
        margin: 0 5px;
    }
}