#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calc-btn__wrapper {
    text-align: center;

    .calc-btn {
        width: 98px;

        &+.calc-btn {
            margin-left: 12px;
        }

        @media (max-width: 576px) {
            & {
                display: block;
                width: 100%;

                &+.calc-btn {
                    margin-top: 8px;
                    margin-left: 0;
                }
            }
        }
    }
}

h1.title {
    padding: 0 12px;
}

.change-log {
    .change-log__title {
        margin-top: 8px;
        font-size: 16px;
    }

    .change-log__time {
        margin-bottom: 8px;

        span {
            padding: 2px 4px;
            background: #f2f4f5;
            border: 1px solid #f0f0f0;
            border-radius: 3px;
            color: 000;
            font-size: 12px;
        }
    }

    .change-log__list {
        list-style: none;
        padding-left: 20px;

        li {
            list-style-type: circle;
        }
    }
}